.about {
    padding: 100px 0 180px;
}
.about_heading {
    font-size: 32px;
    font-weight: 700;
    padding-bottom: 10px;
    margin-bottom: 25px;
    position: relative;
    line-height: 42px;
}
span.about_title {
    color: #0d4176;
    font-size: 14px;
    background: #216fbe6b;
    display: inline-block;
    padding: 2px 17px;
    border-radius: 4px;
    margin-bottom: 15px;
}
.about p{
    color: rgb(72 72 72 / 60%);
}
.about_Section ul {
    list-style: none;
    display: grid;
    gap: 10px;
    margin-bottom: 35px;
}
.about_Section ul  li {
    display: flex;
    gap: 10px;
    align-items: center;
}
.about_Section ul  li  {
    font-size: 17px;
    font-weight: 600;
}
.arrow_icons {
    box-shadow: rgb(73 61 219 / 35%) 0px 5px 15px;
    border-radius: 50%;
}
.listing {
    font-size: 19px;
}
.about1img img {
    width: 75%;
    border-radius: 12px;
}
.aboutimg {
    position: relative;
}
.about2img {
    position: absolute;
    bottom: -18%;
    right: -19px;
}
.about2img img {
    width: 80%;
	border-radius: 12px;
}
.about1img {
    position: relative;
}
.about1img::before {
    position: absolute;
    content: "";
    height: 232px;
    width: 140px;
    background-color: #0054ab;
    left: -38px;
    bottom: -35px;
    border-bottom-left-radius: 6px;
    z-index: -1;
}

section.feature {
    padding: 100px 0;
    background: linear-gradient(178deg, rgb(168 168 245 / 14%) 35%, rgba(255, 255, 255, 0.21052170868347342) 100%);
}
.feature_div {
    border-radius: 20px;

    padding: 40px 40px 40px 50px;
    position: relative;
    z-index: 1;
    margin-bottom: 30px;
    transition: all .3s ease-out 0s;
}
.content-top {
    display: flex;
    gap: 15px;
    align-items: center;
}
.features__icon-two {
    width: 70px;
    height: 70px;
    flex: 0 0 auto;
    color: var(--tg-common-color-white);

    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.feature1{
	border: 1px solid #C9E4E9;
    background: #f1fdff;
    box-shadow: 8px 8px #c9e4e9;
	padding: 40px 40px 40px 50px;
}
.feature2{
    border: 1px solid #C8C1ED;
    background: #edeaff;
    box-shadow: 8px 8px #d9d5f1;
	padding: 40px 40px 40px 50px;
}

.feature3{
	border: 1px solid #EBE0C4;
    background: #fff7e2;
    box-shadow: 8px 8px #e5decb;
	padding: 40px 40px 40px 50px;
}

.feature .title  {
    font-size: 23px;
    font-weight: 500;
}
.feature_div p{
    color: rgb(72 72 72 / 60%);
    line-height: 25px;
    font-size: 17px;
    margin-top: 15px;
}
.feature1 .features__icon-two{
	background: #1bcbe3;
	}
.feature2 .features__icon-two{
	background: #5751e1 !important;
}
.feature3 .features__icon-two{
    background: #ffc224;
}
.feature_div.feature1:hover , .feature_div.feature2:hover , .feature_div.feature3:hover{
transition: 0.5s;
box-shadow: none;
}
.journey {
    background: url(/website/img/core-values.webp);
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 100px 0;
    background-attachment: fixed;
	position: relative;
}
.journey::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    pointer-events: none;
    z-index: 0;
}
.journey_heading{
	position: relative;
	z-index: 22;
}
.journey_heading{
	color: #fff !important;
}
.journey_heading span.about_title {
    color: #ffffff;
    background: #024285;
}
.journey_div {
    background:#fff;
    border-radius: 8px;
	padding: 40px;
	position: relative;
	z-index: 22;
}
.journey_div h4 {
    font-size: 22px;
    font-weight: 600;
    color: #024285;
    margin-bottom: 20px;
}
.journey_icon {
    margin-bottom: 15px;
	position: relative;
	display: flex;
    width: 80px;
    height: 80px;
	transition: all 0.3s ease-in-out;
	padding: 15px;
}
.journey_icon::before {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    border: 1px dashed #287ed5;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
    animation-name: rotate-infinite;
    -webkit-animation-duration: 55s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}
@keyframes
	rotate-infinite {
		0% {
		  transform: rotate(0deg);
		}
		100% {
		  transform: rotate(360deg);
		}
}
.journey_div p{
    color: #918e8e;
    font-size: 17px;
    line-height: 20px;
    margin-bottom: 0;
}

