
section.contact {
    padding: 100px 0;
}
.form_part h3 {
    font-size: 27px;
    font-weight: 700;
    padding-bottom: 10px;
    margin-bottom: 25px;
    border-bottom: 1px solid #dddddd;
    position: relative;
}
.contact_heding {
    font-size: 32px;
    font-weight: 700;
    padding-bottom: 10px;
    margin-bottom: 25px;
    position: relative;
}
.contact_heding::after{
    position: absolute;
    content: "";
    background: #3399ff;
    height: 2px;
    width: 15%;
    left: 0;
    bottom: 0;
}
.form_part h3::after{
    position: absolute;
    content: "";
    background: #3399ff;
    height: 1px;
    width: 20%;
    left: 0;
    bottom: 0;
}
.contact_form input {
    border: 1px solid #e8e8e8;
    border-radius: 7px;
    color: #909090;
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    width: 100%;
    margin-bottom: 20px;
}
.contact_form textarea{
    border: 1px solid #e8e8e8;
    border-radius: 7px;
    color: #909090;
    line-height: 40px;
    padding: 0 20px;
    width: 100%;
}
.deafult_btn {
    background: #3399ff;
    border-radius: 24px;
    height: 42px;
    width: 149px;
    display: inline-block;
    font-size: 21px;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    color: #fff;
    margin-top: 10px;
}
form.contact_form {
    margin-bottom: 40px;
}
.contact p.contact_paragraph {
    color: rgb(72 72 72 / 60%);
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
    margin-bottom: 0;
}
ul.details_contact_list {
    list-style: none;
}
ul.details_contact_list  li {
    display: flex;
    gap: 15px;
    border-bottom: 1px solid #eee;
    padding-top: 20px;
}
.icon_details span{
    color: rgb(72 72 72 / 60%);
}
span.icon_heading {
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 600;
    color: #000;
    display: block;
}
.icon_details a{
    color: rgb(72 72 72 / 60%);
}
.contact_icon {
    color: #004a97;
    font-size: 18px;
}
