/* Container */
#custom-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Header */
#custom-header {
    text-align: center;
    margin-bottom: 20px;
}

#custom-header-title {
    font-size: 2em;
    color: #333;
    background-color: #ebdfdf;
    /* border-radius: 10px; */

    /* text-shadow: -4px 3px 0 #a3a5b4, -14px 7px 0 #2a2a2c; */
}


/* Grid layout */
.custom-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 0;
}

.custom-grid-item {
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex; /* Ensure the image is centered within the grid item */
    align-items: center;
    justify-content: center;
    padding: 0;
    height: 100%; /* Ensures grid item has consistent height */
}

.custom-grid-item img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain; /* Ensures the image is contained within the grid item without stretching */
    display: block;
    border-radius: 8px;
}

/* Responsiveness */
@media screen and (max-width: 768px) {
    #custom-header-title {
        font-size: 2em;
    }

    .custom-grid {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Adjust for smaller screens */
    }
}

@media screen and (max-width: 480px) {
    #custom-header-title {
        font-size: 1.5em;
    }

    .custom-grid {
        grid-template-columns: 1fr; /* Stack images on very small screens */
    }
}

