@media (max-width: 575.98px) {
    header article {
        width: 50%;
        padding: 8rem 2rem;
        display: table;
        margin: auto;
        width: 100%;
        text-align: center;
    }
    header h4 {
        margin-bottom: 12px;
        font-size: 17px;
        margin-top: 8px;
    }
    header .btn.btn_3 {
        display: table;
        margin: auto;
        outline: none !important;
    }
    header article .title {
        font-weight: 700;
        font-size: 25px;
    }
    header p {
        line-height: 23px;
    }
    #event aside span {
        padding: 10px 20px;
    }
    #event aside span sub {
        top: 0px;
    }
    .division_4 .cards:before {
        width: 100px;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100px;
    }
    .future .fixed_flex {
        display: flex;
        flex-flow: wrap;
    }
    .division_4 .cards figure:nth-child(2),
    .division_4 .cards figure:nth-child(3) {
        top: 0;
    }
    header {
        background-position: center;
    }
    .division_4 .cards section {
        background-image: none;
    }
    .div_left,
    .div_right {
        width: 100%;
        position: relative;
    }
    .testimonial {
        padding: 50px 2rem;
    }
    .testimonial .row {
        flex-direction: column-reverse;
    }
    .testimonial .title_header {
        width: 100%;
    }
    .testimonial h2.title.medium,
    .testimonial .title_header p {
        text-align: center;
    }
    .medium {
        line-height: 30px;
        margin-bottom: 15px;
    }
    .testimonial .btn.btn_1 {
        margin: auto;
        margin-bottom: 20px;
    }
    .testimonial .item {
        width: 100%;
    }
    .testimonial button.owl-next {
        height: 30px;
        width: 30px;
        font-size: 32px;
        top: 50%;
        right: 0%;
        transform: translateY(-50%);
        line-height: 11px;
    }
    .testimonial button.owl-prev {
        height: 30px;
        width: 30px;
        font-size: 32px;
        top: 50%;
        left: 0;
        line-height: 11px;
        transform: translateY(-50%);
    }
    .testimonial .item {
        padding: 25px 35px;
    }
    .testimonial_img img {
        height: 80px;
        width: 80px !important;
    }
    .testimonial .item p {
        line-height: 22px;
    }
    .round {
        top: 40%;
        left: 0;
        opacity: 0.5;
    }
    /* ====contact start======= */
    .contactbanner {
        padding: 75px 0 !important;
    }
    section.contact {
        padding: 70px 0 0 0 !important;
    }
    .form_part h3 {
        margin-top: 50px;
    }
    /* ====contact close======= */

    /* ====about start======= */
    .about .row {
        flex-direction: column-reverse;
    }
    .about1img img {
        width: 85%;
    }
    .about2img img {
        width: 100% !important;
    }
    .about2img {
        width: 50%;
    }
    .about2img {
        right: 0 !important;
    }
    .about1img::before {
        left: 0 !important;
    }
    .aboutimg {
        margin-top: 20px;
    }
    .journey_div {
        margin-bottom: 20px;
    }
    section.feature {
        padding: 80px 0;
    }
    .about {
        padding: 80px 0 120px;
    }
    /* ====about close======= */
    /* ==========branches start======= */
    .branches_divs {
        padding: 50px 25px;
    }
    .branches_divs h2 {
        font-size: 25px;
        margin-bottom: 20px;
    }
    .scholl_info h3 {
        font-size: 24px;
        margin-bottom: 20px;
    }
    .school_info_content {
        margin-bottom: 20px;
    }
    section.branches_div {
        padding: 100px 0 50px;
    }
    /* ==========branches close========= */
}

@media (min-width: 576px) and (max-width: 767.98px) {
    #event aside span {
        padding: 10px 20px;
    }
    #event aside span sub {
        top: 1px;
    }
    .testimonial {
        padding: 100px 2rem;
    }
    .div_left,
    .div_right {
        width: 100%;
        position: relative;
    }
    .testimonial {
        padding: 50px 2rem;
    }
    .testimonial .row {
        flex-direction: column-reverse;
    }
    .testimonial .title_header {
        width: 100%;
    }
    .testimonial h2.title.medium,
    .testimonial .title_header p {
        text-align: center;
    }
    .medium {
        line-height: 30px;
        margin-bottom: 15px;
    }
    .testimonial .btn.btn_1 {
        margin: auto;
        margin-bottom: 20px;
    }
    .testimonial .item {
        width: 511px;
        display: table;
        margin: auto;
    }
    .testimonial button.owl-next {
        height: 30px;
        width: 30px;
        font-size: 32px;
        top: 50%;
        right: 1%;
        transform: translateY(-50%);
        line-height: 11px;
    }
    .testimonial button.owl-prev {
        height: 30px;
        width: 30px;
        font-size: 32px;
        top: 50%;
        left: 1%;
        line-height: 11px;
        transform: translateY(-50%);
    }
    .testimonial .item {
        padding: 25px 35px;
    }
    .testimonial_img img {
        height: 80px;
        width: 80px !important;
    }
    .testimonial .item p {
        line-height: 22px;
    }
    .round {
        top: 40%;
        left: 0;
        opacity: 0.5;
    }
    /* ====contact start======= */
    .contactbanner {
        padding: 75px 0 !important;
    }
    section.contact {
        padding: 70px 0 0 0 !important;
    }
    .form_part h3 {
        margin-top: 50px;
    }
    /* ====contact close======= */
    /* ====about start======= */
    .about .row {
        flex-direction: column-reverse;
    }
    .about1img img {
        width: 85%;
    }
    .about2img img {
        width: 100% !important;
    }
    .about2img {
        width: 50%;
    }
    .about2img {
        right: 0 !important;
    }
    .about1img::before {
        left: 0 !important;
    }
    .aboutimg {
        margin-top: 20px;
    }
    .journey_div {
        margin-bottom: 20px;
    }
    section.feature {
        padding: 80px 0;
    }
    .about {
        padding: 80px 0 120px;
    }
    /* ====about close======= */
    /* =========branches strat====== */
    .school_info_content {
        margin-bottom: 30px;
    }
    section.branches_div {
        padding: 100px 0 50px;
    }
    /* =========branches close====== */

    /* ============inquery start============= */
    .inquery_form {
        padding: 50px 25px;
    }
    /* ============inquery close============= */
}

@media (min-width: 768px) and (max-width: 991.98px) {
    #event aside span {
        padding: 10px 20px;
    }
    #event aside span sub {
        top: 1px;
    }
    .testimonial {
        padding: 100px 2rem;
    }
    .div_left,
    .div_right {
        width: 100%;
        position: relative;
    }
    .testimonial {
        padding: 50px 2rem;
    }
    .testimonial .row {
        flex-direction: column-reverse;
    }
    .testimonial .title_header {
        width: 100%;
    }
    .testimonial h2.title.medium,
    .testimonial .title_header p {
        text-align: center;
    }
    .medium {
        line-height: 30px;
        margin-bottom: 15px;
    }
    .testimonial .btn.btn_1 {
        margin: auto;
        margin-bottom: 20px;
    }
    .testimonial .item {
        width: 511px;
        display: table;
        margin: auto;
    }
    .testimonial button.owl-next {
        height: 30px;
        width: 30px;
        font-size: 32px;
        top: 50%;
        right: 7%;
        transform: translateY(-50%);
        line-height: 11px;
    }
    .testimonial button.owl-prev {
        height: 30px;
        width: 30px;
        font-size: 32px;
        top: 50%;
        left: 7%;
        line-height: 11px;
        transform: translateY(-50%);
    }
    .testimonial .item {
        padding: 25px 35px;
    }
    .testimonial_img img {
        height: 80px;
        width: 80px !important;
    }
    .testimonial .item p {
        line-height: 22px;
    }
    .round {
        top: 40%;
        left: 0;
        opacity: 0.5;
    }
    /* =======contact start======= */
    .contact .row {
        align-items: center;
    }
    /* =======contact close======= */

    /* =======about start======= */
    .about1img img {
        width: 90% !important;
    }
    .about2img {
        width: 65% !important;
    }
    .about2img img {
        width: 91%;
    }
    .about1img::before {
        left: -17px !important;
    }
    .about .row {
        align-items: center;
    }
    .about {
        padding: 80px 0 !important;
    }
    section.feature {
        padding: 80px 0 !important;
    }
    .feature2,
    .feature1,
    .feature3 {
        padding: 25px !important;
    }
    .feature .title {
        font-size: 18px;
    }
    .journey {
        padding: 80px 0 !important;
    }
    .journey_div {
        padding: 25px 20px !important;
    }
    .journey_div h4 {
        font-size: 18px;
    }
    /* =======about close======= */
    /* =========branches strat====== */
    .school_info_content {
        margin-bottom: 30px;
    }
    section.branches_div {
        padding: 100px 0 50px;
    }
    /* =========branches close====== */
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .testimonial button.owl-next {
        line-height: 23px;
        right: 1%;
        height: 30px;
        width: 30px;
    }
    .testimonial button.owl-prev {
        height: 30px;
        width: 30px;
        left: 1%;
        line-height: 23px;
    }

    /* about */
    .about1img::before {
        left: -12px;
    }
    .about {
        padding: 100px 0 !important;
    }
    /* branches */
    .school_info_content {
        margin-bottom: 30px;
    }
}

@media (min-width: 1200px) {
}
